<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU-q2zIkp46197pIpnKOFbeH3chyA9Nmc</string>
	<key>GCM_SENDER_ID</key>
	<string>560817426212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smsMessagingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bulk-sms-paid-numbers</string>
	<key>STORAGE_BUCKET</key>
	<string>bulk-sms-paid-numbers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560817426212:ios:2999e1525899568b6fadb1</string>
	<key>DATABASE_URL</key>
	<string>https://bulk-sms-paid-numbers-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>